{% extends 'cadre.html' %}

{% block section %}

	<div class="container">
		<div class="screen">
		    <div class="screen__content">
			<h4>Dashboard</h4>
			<h2>
				<p> Temperature inside : {{dico['temp']}} °C</p>
				<p> Fan : {{dico['ventilateur']}}</p>
				<p> Humidité : {{dico['humidité']}} %</p>
			</h2>
			<div class="login">
			<button class="button login__submit">
				<div class="button__text"><a href="{{ url_for('gen_bp.commandes') }}">manual controls</a></div>
				<i class="button__icon fas fa-chevron-right"></i>
			</button>
			</div>
		<div class="social-login">
			<form action="{{ url_for('auth_bp.deconnexion') }}" method="get">
			  <h3>
				<button class="button sign_up">
				  <div class="button__sign">disconnect</div>
				  <i class="button__icon_sign"></i>
				</button>
			  </h3>
			</form>
		  </div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	  </div>
    </div>

{% endblock %}