{% extends 'cadre.html' %}

{% block section %}
	<h2>Bienvenue</h2>
	<p> Température intérieure : {{dico['temp']}} °C</p>
	<p> Ventilateur : {{dico['ventilateur']}}</p>
	<a href="{{ url_for('gen_bp.commandes') }}"> Commandes manuelles </a>
	<div class="container">
		<div class="screen">
		    <div class="screen__content">
			<h4>Mon tableau de bord</h4>
	<div class="screen__background">
		<span class="screen__background__shape screen__background__shape4"></span>
		<span class="screen__background__shape screen__background__shape3"></span>		
		<span class="screen__background__shape screen__background__shape2"></span>
		<span class="screen__background__shape screen__background__shape1"></span>
	</div>
		</div>
	</div>
</div>

{% endblock %}