<!DOCTYPE html>
<html>
<head>
	<title>Domotique</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('gen_bp.static', filename='style.css') }}">
	<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body> 
	<header>
	    <h1><p1>Smart</p1><p2>House</p2></h1>
		
		<h3 id="auth">
			{% if session['mail'] %}
			<a href="{{ url_for('auth_bp.deconnexion') }}"></a>
			{% else %}
			<a href="{{ url_for('auth_bp.inscription') }}"></a>
			<a href="{{ url_for('auth_bp.connexion') }}"></a>
			{% endif %}
		</h3>
    </header>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

    <section>
        {% block section %} {% endblock %}
    </section>

	<!--<footer>
		<p> Terminales Spé NSI 2022-2023</p>
	</footer>-->
</body>
</html> 