{% extends 'cadre.html' %}

{% block section %}
	        <h2>Commandes manuelles</h2>
            <a href="{{ url_for('gen_bp.acceuil') }}"> Retour à l'acceuil</a>

            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="{{ url_for('gen_bp.static', filename='commandes_manu.js') }}"></script>

            <label> Ventilateur : <input type="radio" name="activerventilo" value="ON" id="ventilateur">ON
                <input type="radio" name="activerventilo"value="OFF" id="ventilateur">OFF</label>
<div class="container">
    <div class="screen">
        <div class="screen__content">
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>		
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
        </div>
    </div>
</div>
{% endblock %}