{% extends 'cadre.html' %}

{% block section %}
	<h2>Commandes manuelles</h2>
    <a href="{{ url_for('gen_bp.acceuil') }}"> Retour à l'acceuil</a>

    <script src="{{ url_for('gen_bp.static', filename='commandes_manu.js') }}" defer="defer"></script>


    <label> Ventilateur : <input type="radio" name="activerventilo" value="ON">ON
        <input type="radio" name="activerventilo"value="OFF">OFF</label>

    <label> Couleurs lumières : 
        <input type="radio" name="Couleurs"value="rouge">Rouge</label>
        <input type="radio" name="Couleurs"value="vert">Vert</label>
        <input type="radio" name="Couleurs"value="bleu">Bleu</label>



{% endblock %}