{% extends 'cadre.html' %}

{% block section %}

<script src="{{ url_for('gen_bp.static', filename='commandes_manu.js') }}" defer="defer"></script>

<div class="container">
    <div class="screen">
        <div class="screen__content">
	        <h4>Manual Controls</h4>
    <h5>
    <p>
    <label>Fan :
        <input type="radio" name="choix" class="mode" value="manu">manu
        <input type="radio" name="choix" class="mode" value="auto">auto
    </label>
    </p>
    <div id="manu">
        <p>
          <input type="radio" name="activerventilo" value="ON">ON
          <input type="radio" name="activerventilo" value="OFF">OFF
        </p>
    </div>
   </h5>
    <div id="auto">
      <div class="set">
			  <div class="set__field">
				<i class="login__icon fas fa-user"></i>
          <input type="text" class="set__input" name="temp" placeholder="°C">
          <button class="button set__temp" id="settemp">set temperature</button>
        </div>
      </div>
    </div>
    <p>
    <label> light :
            <select>
                <option name="Couleurs" value="rouge">RED</option>
                <option name="Couleurs" value="vert">GREEN</option>
                <option name="Couleurs" value="bleu">BLUE</option>
                <option name="" value="">OFF</option>
            </select>
    </label>
    </p>
    <div class="social-login">
          <h3>
            <button class="button sign_up">
                <div class="button__text"><a href="{{ url_for('gen_bp.acceuil') }}">Back</a></div>
              <i class="button__icon_sign"></i>
            </button>
          </h3>
      </div>
    </div>
    <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>

{% endblock %}