{% extends 'cadre.html' %}

{% block section %}
	<form action="{{ url_for('auth_bp.inscription') }}" method="post">
	<div class="container">
		<div class="screen">
		  <div class="screen__content">
			<h4>Inscription</h4>
			<div class="login">
			  <div class="login__field">
				<i class="login__icon fas fa-user"></i>
				<input type="email" class="login__input" name="mail" id="mail" placeholder="mail" required>
			  </div>
			  <div class="login__field">
				<i class="login__icon fas fa-lock"></i>
				<input type="password" class="login__input" name="mdp" id="mdp" placeholder="Password" required>
			  </div>
			  <button class="button login__submit">
				<span class="button__text">submit</span>
				<i class="button__icon fas fa-chevron-right"></i>
			  </button>
			</div>
		</form>
			<div class="social-login">
			<form action="{{ url_for('auth_bp.connexion') }}" method="get">
			  <h3>
				<button class="button sign_up">
				  <span class="button__sign">back</span>
				  <i class="button__icon_sign"></i>
				</button>
			  </h3>
			</form>
			</div>
		  </div>
		  <div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		  </div>	
		</div>
	  </div>
{% endblock %}